/* Vinyl-info */

.vinyl-and-stickers {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  max-height: 900px;
  padding-top: 70px;

  display: flex;

  justify-content: space-between;
  gap: 24px;
}

.vinyl-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
  max-width: 900px;
}

.vinyl-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.vinyl-title {
  background: #f6fdd7;
  width: fit-content;
  padding: 20px;
  border-radius: 36.8px;
  border: 4.14px solid #585858;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 52px;
}

.vinyl-steps-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  font-size: clamp(6px, 1.5vw, 16px);
}

/* Vinyl */

.vinyl-container {
  max-width: 471px;
  width: 100%;
  max-height: 482px;
  height: 100svh;
  margin: 0 auto;

  position: relative;
}

.vinyl-cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #f6fdd7;
  border: 2px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vinyl {
  position: absolute;
  z-index: 1;
  right: -241px;

  max-width: 482px;
  max-height: 482px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: #2e2b2b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: rotate 2s infinite linear, colorChange 10s infinite linear;
}

.vinyl:hover {
  right: -341px;

  transition: all 0.3s ease-in-out;
}

.vinyl div {
  max-width: 171px;
  max-height: 171px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f6fdd7;
}

.vinyl div div {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: #272525;

  animation: rotate 2s infinite linear, colorChange 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0% {
    background: #2e2b2b;
  }
  33% {
    background: #afcaff;
  }
  66% {
    background: #5d507f;
  }
  100% {
    background: #2e2b2b;
  }
}

/* Stickers */

.vinyl-stickers {
  background: #f6fdd7;
  max-width: 438px;
  width: 100%;
  position: relative;
  top: -70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  max-height: 900px;
  padding: 50px;
}

.vinyl-stickers-title {
  font-size: clamp(13px, 2vw, 17px);
  text-transform: uppercase;
}

.vinyl-stickers-info {
  position: absolute;
  top: 50%;
  left: -52%;
  transform: rotate(-90deg);

  width: 100%;
  max-width: 434px;
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
}

.vinyl-stickers-cover {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  margin: 20px 0;
  min-height: 100px;
  align-items: center;
  justify-items: center;
  max-height: 550px;
  height: 100svh;
  transition: all 0.9s ease-in-out;
  position: relative;
}

.sticker {
  z-index: 50;
  cursor: grab;
  transition-property: scale, opacity;
  transition-duration: 0.2s;

  position: absolute;
}
.invisible {
  display: none;
}

.sticker-1 {
  max-width: 150px;
  top: 0;
  left: 0;
}

.sticker-2 {
  max-width: 120px;
  top: 0;
  left: 40%;
}

.sticker-3 {
  max-width: 160px;
  top: 0;
  right: 0;
}

.sticker-4 {
  max-width: 120px;
  top: 20%;
  left: 0;
}

.sticker-5 {
  max-width: 100px;
  top: 35%;
  left: 34%;
}

.sticker-6 {
  max-width: 140px;
  top: 30%;
  right: 0;
}

.sticker-7 {
  max-width: 110px;
  top: 60%;
  left: 0;
}

.sticker-8 {
  max-width: 110px;
  top: 60%;
  left: 30%;
}

.sticker-9 {
  max-width: 120px;
  top: 55%;
  right: 0;
}

.sticker-10 {
  max-width: 100px;
  top: 80%;
  left: 0;
}

.sticker-11 {
  max-width: 140px;
  top: 90%;
  left: 30%;
}

.sticker-12 {
  max-width: 100px;
  top: 90%;
  right: 0;
}

@media screen and (max-width: 1388px) {
  .vinyl-cover {
    max-width: 400px;
    max-height: 410px;
  }

  .vinyl {
    max-width: 400px;
    max-height: 400px;
    right: -141px;
  }

  .vinyl:hover {
    right: -220px;

    transition: all 0.3s ease-in-out;
  }

  .vinyl div {
    max-width: 131px;
    max-height: 131px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6fdd7;
  }

  .vinyl div div {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #272525;
  }
}

@media screen and (max-width: 1260px) {
  .vinyl-stickers {
    padding: 40px 20px;
    max-width: 380px;
    max-height: 700px;
  }

  .vinyl-stickers-cover {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 110px);
    max-height: 450px;
  }

  .sticker {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 1158px) {
  .vinyl-cover {
    max-width: 350px;
    max-height: 360px;
  }

  .vinyl {
    max-width: 350px;
    max-height: 350px;
    right: -50px;
  }

  .vinyl:hover {
    right: -150px;

    transition: all 0.3s ease-in-out;
  }

  .vinyl div {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6fdd7;
  }

  .vinyl div div {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #272525;
  }
}

@media screen and (max-width: 980px) {
  .vinyl-title {
    max-width: 120px;
    padding: 15px;
  }

  .vinyl-cover {
    max-width: 300px;
    max-height: 310px;
  }

  .vinyl {
    max-width: 300px;
    max-height: 300px;
    right: 20px;
  }

  .vinyl:hover {
    right: 20px;
  }

  .vinyl div {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6fdd7;
  }

  .vinyl div div {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #272525;
  }

  .vinyl-stickers {
    max-width: 300px;
    max-height: 600px;
  }

  .vinyl-stickers-cover {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 90px);
    max-height: 350px;
  }

  .sticker {
    max-width: 80px;
    max-height: 80px;
  }

  .sticker-1 {
    top: 0;
    left: 0;
  }

  .sticker-2 {
    top: 0;
    left: 40%;
  }

  .sticker-3 {
    top: 0;
    right: 0;
  }

  .sticker-4 {
    top: 20%;
    left: 0;
    max-height: 120px;
  }

  .sticker-5 {
    top: 30%;
    left: 34%;
  }

  .sticker-6 {
    top: 30%;
    right: 0;
  }

  .sticker-7 {
    top: 60%;
    left: 0;
  }

  .sticker-8 {
    top: 60%;
    left: 30%;
  }

  .sticker-9 {
    top: 55%;
    right: 0;
    max-height: 120px;
  }

  .sticker-10 {
    top: 80%;
    left: 0;
  }

  .sticker-11 {
    top: 90%;
    left: 30%;
  }

  .sticker-12 {
    top: 90%;
    right: 0;
  }
}

@media screen and (max-width: 810px) {
  .vinyl-cover {
    max-width: 260px;
    max-height: 270px;
  }

  .vinyl {
    max-width: 260px;
    max-height: 260px;
    right: 60px;
  }

  .vinyl div {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6fdd7;
  }

  .vinyl div div {
    max-width: 15px;
    max-height: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #272525;
  }

  .vinyl-stickers {
    max-width: 250px;
    max-height: 550px;
  }

  .vinyl-stickers-info {
    gap: 20px;
  }

  .vinyl-stickers-info span {
    min-width: 100%;
  }

  .vinyl-stickers-cover {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 80px);
  }

  .sticker {
    max-width: 70px;
    max-height: 70px;
  }

  .sticker-1 {
    top: 0;
    left: 0;
  }

  .sticker-2 {
    top: 0;
    left: 40%;
  }

  .sticker-3 {
    top: 0;
    right: 0;
  }

  .sticker-4 {
    top: 20%;
    left: 0;
    max-height: 120px;
  }

  .sticker-5 {
    top: 30%;
    left: 34%;
  }

  .sticker-6 {
    top: 30%;
    right: 0;
  }

  .sticker-7 {
    top: 60%;
    left: 0;
  }

  .sticker-8 {
    top: 60%;
    left: 30%;
  }

  .sticker-9 {
    top: 55%;
    right: 0;
    max-height: 120px;
  }

  .sticker-10 {
    top: 80%;
    left: 0;
  }

  .sticker-11 {
    top: 90%;
    left: 30%;
  }

  .sticker-12 {
    top: 90%;
    right: 0;
  }
}

@media screen and (max-width: 745px) {
  .vinyl-cover {
    max-width: 200px;
    max-height: 210px;
  }

  .vinyl {
    max-width: 200px;
    max-height: 200px;
    left: 130px;
  }
}

@media screen and (max-width: 630px) {
  .vinyl-title {
    max-width: 80px;
    max-height: 36px;
    padding: 5px;
  }

  .vinyl-cover {
    max-width: 200px;
    max-height: 210px;
  }

  .vinyl {
    max-width: 200px;
    max-height: 200px;
    left: 130px;
  }
}

@media screen and (max-width: 600px) {
  .vinyl-title {
    max-width: 70px;
    max-height: 30px;
    padding: 5px;
  }

  .vinyl-cover {
    max-width: 180px;
    max-height: 190px;
  }

  .vinyl {
    max-width: 180px;
    max-height: 180px;
    left: 100px;
  }
}

@media screen and (max-width: 570px) {
  .vinyl-stickers {
    padding: 40px 10px;
    max-width: 200px;
    max-height: 450px;
  }

  .vinyl-stickers-cover {
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 70px);
    max-height: 300px;
  }

  .sticker {
    max-width: 60px;
    max-height: 60px;
  }

  .sticker-1 {
    top: 0;
    left: 0;
  }

  .sticker-2 {
    top: 0;
    left: 40%;
  }

  .sticker-3 {
    top: 0;
    right: 0;
  }

  .sticker-4 {
    top: 20%;
    left: 5%;
    max-height: 120px;
  }

  .sticker-5 {
    top: 30%;
    left: 34%;
  }

  .sticker-6 {
    top: 30%;
    right: 0;
  }

  .sticker-7 {
    top: 60%;
    left: 0;
  }

  .sticker-8 {
    top: 60%;
    left: 30%;
  }

  .sticker-9 {
    top: 55%;
    right: 0;
    max-height: 120px;
  }

  .sticker-10 {
    top: 80%;
    left: 5%;
  }

  .sticker-11 {
    top: 90%;
    left: 36%;
  }

  .sticker-12 {
    top: 90%;
    right: 0;
  }
}

@media screen and (max-width: 517px) {
  .vinyl-cover {
    max-width: 170px;
    max-height: 170px;
  }

  .vinyl {
    left: 80px;
    max-width: 170px;
    max-height: 170px;
  }
}

@media screen and (max-width: 482px) {
  .vinyl-title {
    max-width: 50px;
    max-height: 16px;
    padding: 5px;
  }

  .vinyl-title svg {
    width: 40px;
    height: 16px;
  }

  .vinyl-cover {
    max-width: 150px;
    max-height: 160px;
  }

  .vinyl {
    max-width: 150px;
    max-height: 150px;
    right: 15px;
  }

  .vinyl div {
    max-width: 55px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6fdd7;
  }

  .vinyl div div {
    max-width: 7px;
    max-height: 7px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #272525;
  }

  .vinyl-stickers {
    max-width: 140px;
    max-height: 387px;
  }

  .vinyl-stickers-info span {
    font-size: 10px;
  }

  .vinyl-stickers-cover {
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 60px);
  }

  .sticker {
    max-width:40px;
    max-height: 60px;
  }

  .sticker-1 {
    top: 0;
    left: 0;
  }

  .sticker-2 {
    top: 0;
    left: 40%;
  }

  .sticker-3 {
    top: 0;
    right: 0;
  }

  .sticker-4 {
    top: 20%;
    left: 0;
    max-height: 120px;
  }

  .sticker-5 {
    top: 20%;
    left: 34%;
    max-width: 30px;
  }

  .sticker-6 {
    top: 30%;
    right: 0;
  }

  .sticker-7 {
    top: 50%;
    left: -5%;
  }

  .sticker-8 {
    top: 60%;
    left: 30%;
    max-width: 30px;
  }

  .sticker-9 {
    top: 55%;
    right: 0;
    max-height: 120px;
  }

  .sticker-10 {
    top: 75%;
    left: -5%;
  }

  .sticker-11 {
    top: 82%;
    left: 36%;
    max-width: 50px;
  }

  .sticker-12 {
    top: 85%;
    right: -15%;
  }
}

@media screen and (max-width: 400px) {
  .vinyl {
    left: 60px;
  }
}
